<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="wa4e" content="d81f9c1be2e08964bf9f24b15f0e4900">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  {% block content %}
  Hello World! I just need you to know that Gordie is seriously the cutest cat who ever lived I just love him so much.
  <ul>
    <li><a href="/autos">Autos CRUD</a>
  <ul>
    {% endblock %}
</body>
</html>
